.bg{
  background-image: url("Media/b4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  .signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  h1{
    color: white !important;
  }
  .login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  button{
    background-color: black !important;
    color :#00544E !important;
    font-weight: 700;
    border: 2px solid black !important;
  }
  .card{
    color: black !important;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    background-color: #00544E;
    border-radius: 10px !important;
    padding: 30px 100px;
  }
}
  // .tablebg{
  //   background-color: black;
  // }
    .table{
      background-color: #00544E !important;
      color : #fff !important;
      border-radius: 10px !important;
      padding: 20px !important;
      // border-color:  black !important;
     
    }
    label progress {
      width: 35px;
    }
    label img {
      width: 70px;
      height: 70px;
    }
    
    #input-file {
      display: none !important;
    }
  
@media screen and (max-width:"600px"){
  .bg{
    background-image: url("Media/b4.png");
    background-repeat: no-repeat;
    background-size: cover;
   
   
    background-attachment: fixed;
    .signup{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }
   
    .card{
      width: 280px !important;
      color: black !important;
      font-weight: 500;
      background-color: #00544E;
      border-radius: 10px !important;
      padding: 20px 40px !important;
    }
  }

  .bg{
    background-image: url("Media/b4.png");
    background-repeat: no-repeat;
    background-size: cover;
   
   width: 100%;
    background-attachment: fixed;
   
    .login{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }
    .card{
      color: black !important;
      font-weight: 500;
      background-color: #00544E;
      border-radius: 10px !important;
      padding: 20px 20px !important;
    }
  }

  
}

